.PadraoImagem{
    width : 100px;
    height: 100px;
}
.boxContainer{
    margin-top:2%;
}
.inputBotao{
    position: absolute;
    margin-right: 100px;
    height:35px;
    background-color:rgb(26,28,43);
    border:1px solid rgb(26,28,43);
    color:white;
}
input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

input[type=file]{
    border:3px solid rgb(26,28,43);
    height: 35px;
    font-size:15px;
    margin-left:5px;
    outline:none;
    cursor:pointer;
    color:rgb(26,28,43);
}
.deletaImagem{
   
}


