.reveal{
    display:none;
}
.tagA:link{
    text-decoration:none;
}
.NavigationBar{
    background-color:rgb(26,28,43);
}
.aLink{
    float:left;
    margin-top:8px;
    color:white;
}
.nLink:hover{
    background-color:rgba(85,153,254,0.4);
}
.aLink:visited{
    color:white;
    font-size:16px;
    margin-top:0px;
}
.LinKBox{
    width:115px;
    height:110px;
    margin-top:5px;
    margin-left:-30px;
    background-color:white;
    position:absolute;
    border:2px solid rgb(26,28,43);
    border-radius:10px;
}
.nLabel{
    display:inline;
}
.nLabel:hover{
    background-color:rgba(85,153,254,0.4);
}
.EstiloLabelBarra{
    color:white;
    font-size:17px;
    margin-top:15px;
    padding: 0px 6px;
}
.BotaoBox{
    width:90px;
    height: 30px;
    margin-top:15px;
    background-color:rgb(26,28,43);
    color:white;
    border-radius:5px;
    border:none;
    margin-left:11px;
}
.BotaoBox:focus{
    outline: none;
}
.BotaoBox:hover{
    transition:1s;
    -webkit-transition:1s;
    -o-transition:1s;
    -moz-transition:1s;
    background-color:white;
    border:1px solid rgb(26,28,43);
    color:rgb(26,28,43);
}